{% extends "User/base_generic.html" %}

{% block navbar %}
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>DocuLocker</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Welcome {{username}}</p>
        <li>
            <a href="/User">Home</a>
        </li>
        <li>
            <a href="/User/pending">Pending View Requests</a>
        </li>
        <li class="active">
            <a href="/User/granted">Granted View Requests</a>
        </li>
        <li>
            <a href="/User/request">Request Certificate</a>
        </li>
        <li>
            <a href="/login">Log Out</a>
        </li>
    </ul>
</nav>
{% endblock navbar %}

{% block body %}
<div class="container my-5">
    <center>
        <u>
            <h1> Granted View Requests</h1>
        </u>
    </center>
</div>
{% if grant %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"><center>No.</center></th>
            <th scope="col"><center>I/C Name</center></th>
            <th scope="col"><center>Discard Permission</center></th>
        </tr>
    </thead>
    <tbody>
        {% for i in grant %}
        <tr>
            <th scope="row"><center>{{ forloop.counter }}</center></th>
            <td><center>{{ i.ifirst }} {{ i.ilast }}</center></td>
            <td>
                <center>
                <form method="POST" action="/User/granted" enctype="multipart/form-data">
                {% csrf_token %}
                    <button type="submit" class="btn btn-warning" name="temp_{{i.ifirst}}_{{i.ilast}}">Temporarily</button>
                    <button type="submit" class="btn btn-danger" name="per_{{i.ifirst}}_{{i.ilast}}">Permanently</button>
                </form>
                </center>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <div class="container mt-5">
            <center>
            <br><br>
            <h4>No Granted Request</h4>
            </center>
        </div>
        {% endif %}
    </tbody>
</table>
{% endblock body %}