{% extends "User/base_generic.html" %}

{% block navbar %}
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>DocuLocker</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Welcome {{username}}</p>
        <li class="active">
            <a href="/User">Home</a>
        </li>
        <li>
            <a href="/User/pending">Pending View Requests</a>
        </li>
        <li>
            <a href="/User/granted">Granted View Requests</a>
        </li>
        <li>
            <a href="/User/request">Request Certificate</a>
        </li>
        <li>
            <a href="/login">Log Out</a>
        </li>
    </ul>


</nav>
{% endblock navbar %}

{% block body %}
<div class="container my-5">
    <center>
        <u>
            <h1> Certificates Available </h1>
        </u>
    </center>
</div>
{% if user %}

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No.</th>
            <th scope="col">I/C Name</th>
            <th scope="col">Certificate of</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for i in user %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ i.insti }}</td>
            <td>{{i.type}}</td>
            <td><a href="/User/download?path={{i.certi}}&pkey={{private_key}}">Download</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <div class="container mt-5">
            <center>
            <br><br>
            <h4>Sorry, No Certificates currently issued!</h4>
            </center>
        </div>
        {% endif %}
    </tbody>
</table>
{% endblock body %}