{% extends "User/base_generic.html" %}

{% block navbar %}
<nav id="sidebar">
    <!-- DocuLocker  -->
    <div class="sidebar-header">
        <h3>DocuLocker</h3>
    </div>

    <!-- Navbar Components  -->
    <ul class="list-unstyled components">
        <!-- Welcome username  -->
        <p>Welcome {{name}}!</p>
        <li>
            <a href="/User">Home</a>
        </li>
        <!-- Pending View Requests  -->
        <li class="active">
            <a href="/User/private">Pending View Requests</a>
        </li>
        <!-- Granted View Requests  -->
        <li>
            <a href="/User/granted">Granted View Requests</a>
        </li>
        <!-- Request Certificate  -->
        <li>
            <a href="/User/request">Request Certificate</a>
        </li>
        <!-- Log Out  -->
        <li>
            <a href="/login">Log Out</a>
        </li>
    </ul>
</nav>
{% endblock navbar %}

{% block body %}
<div class="container my-5">
    <center>
        <u>
            <h1> Pending View Requests</h1>
        </u>
    </center>
</div>
{% if req %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"><center>No.</center></th>
            <th scope="col"><center>I/C Name</center></th>
            <th scope="col"><center>Actions</center></th>
        </tr>
    </thead>
    <tbody>
        {% for i in req %}
        <tr>
            <th scope="row"><center>{{ forloop.counter }}</center></th>
            <td><center>{{ i.ifirst }} {{ i.ilast }}</center></td>
            <td>
                <center>
                <form method="POST" action="/User/pending" enctype="multipart/form-data">
                {% csrf_token %}
                    <button type="submit" class="btn btn-success" name="accept_{{i.ifirst}}_{{i.ilast}}">Accept</button>
                    <button type="submit" class="btn btn-danger" name="reject_{{i.ifirst}}_{{i.ilast}}">Reject</button>
                </form>
                </center>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <div class="container mt-5">
            <center>
            <br><br>
            <h4>No Pending Request</h4>
            </center>
        </div>
        {% endif %}
    </tbody>
</table>
{% endblock body %}