{% extends 'Company/base_generic.html' %}

{% block navbar %}
<nav id="sidebar">
          <div class="sidebar-header">
              <h3>DocuLocker</h3>
          </div>

          <ul class="list-unstyled components">
              <p>Welcome</p>
              <li>
                  <a href="/Company">Home</a>
              </li>
              <li class="active"> 
                  <a href="/Company/view">View Certificates</a>
              </li>
              <li> 
                  <a href="/Company">Request View Permissions</a>
              </li>
              <li>
                  <a href="/Company/pending">Pending View Permissions</a>
              </li>
              <li>
                  <a href="/Company/issue">Upload Certificates</a>
              </li>
              <li>
                  <a href="{% url 'logout' %}">Log Out</a>
              </li>
          </ul>
      </nav>
{% endblock navbar %}

{% block body %}
<div class="container my-5">
    <center>
        <u>
            <h1> Certificates Available </h1>
        </u>
    </center>
</div>
{% if user %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No.</th>
            <th scope="col">I/C Name</th>
            <th scope="col">Certificate of</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for i in user %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ i.insti }}</td>
            <td>{{i.type}}</td>
            <td><a href="/Company/download?path={{i.certi}}&pkey={{private_key}}" class="btn btn-success">Download</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <div class="container mt-5">
            <center>
            <br><br>
            <h4>Sorry, User hasn't given access to you!</h4>
            </center>
        </div>
        {% endif %}
    </tbody>
</table>
{% endblock body %}