{% extends 'Company/base_generic.html' %}

{% block navbar %}
<nav id="sidebar">
          <div class="sidebar-header">
              <h3>DocuLocker</h3>
          </div>

          <ul class="list-unstyled components">
              <p>Welcome</p>
              <li>
                  <a href="/Company">Home</a>
              </li>
              <li>
                  <a href="/Company/request">Request View Permissions</a>
              </li>
              <li class="active">
                  <a href="/Company/pending">Pending View Permissions</a>
              </li>
              <li>
                  <a href="/Company/issue">Upload Certificates</a>
              </li>
              <li>
                  <a href="{% url 'logout' %}">Log Out</a>
              </li>
          </ul>

          
      </nav>
{% endblock navbar %}

{% block body %}
<div class="container my-5">
    <center>
        <u>
            <h1> Pending View Permissions</h1>
        </u>
    </center>
</div>
{% if req %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"><center>No.</center></th>
            <th scope="col"><center>User Unique Id</center></th>
            <th scope="col"><center>Actions</center></th>
        </tr>
    </thead>
    <tbody>
        {% for i in req %}
        <tr>
            <th scope="row"><center>{{ forloop.counter }}</center></th>
            <td><center>{{ i.uid }}</center></td>
            <td>
                <center>
                <form method="POST" action="/Company/pending" enctype="multipart/form-data">
                {% csrf_token %}
                    <button type="submit" class="btn btn-danger" name="{{i.uid}}">Discontinue</button>
                </form>
                </center>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <div class="container mt-5">
            <center>
            <br><br>
            <h4>No Pending Permission</h4>
            </center>
        </div>
        {% endif %}
    </tbody>
</table>
{% endblock body %}