{% extends 'Company/base_generic.html' %}

{% block navbar %}
<nav id="sidebar">
          <div class="sidebar-header">
              <h3>DocuLocker</h3>
          </div>

          <ul class="list-unstyled components">
              <p>Welcome {{name}}!</p>
              <li>
                  <a href="/Company">Home</a>
              </li>
              <li> 
                  <a href="/Company/view">View Certificates</a>
              </li>
              <li class="active"> 
                  <a href="/Company">Request View Permissions</a>
              </li>
              <li>
                  <a href="/Company/pending">Pending View Permissions</a>
              </li>
              <li>
                  <a href="/Company/issue">Upload Certificates</a>
              </li>
              <li>
                  <a href="{% url 'logout' %}">Log Out</a>
              </li>
          </ul>
      </nav>
{% endblock navbar %}

{% block body %}
<div class="container mt-5 py-4">
    <form method="post" action="/Company/request" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="formGroupExampleInput">Person Id</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="pid" placeholder="Enter unique id for the person" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}